.Rhistory
.RData
.Rproj.user
*.html
*.pdf
*_withnotes.*
*_bright.*
images/
presentation_files/
data/
publish/

# Created by https://www.toptal.com/developers/gitignore/api/latex
# Edit at https://www.toptal.com/developers/gitignore?templates=latex

### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
# beamer
*.nav
*.pre
*.snm
*.vrb
.Rdata
.httr-oauth
.DS_Store
